<h1>Edit task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <br><br>
  <%= f.check_box :completed %><p>Completed</p>
  <i class="btn btn-default"><%= f.submit %></i>
<% end %>

<hr>
<%= link_to tasks_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
